/* :root {
    --border-radius: 5px;
    --border-width: 1px;
    --light-grey: #e2e0e0;
    --blue: #7f6cfc;
    --orange: #ffc877;
    --red: #c14444;
} */
* {
    box-sizing: border-box;

}

#calculator {
    height: relative;
    width: 300px;
    background-color: aquamarine;
    border: 2px solid black;
    margin: auto;
    margin-top: 112px;
    background-color: rgb(3, 0, 0);


}

#calculator h1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 13px;

}

#display-container {
    font-size: 2.0rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--blue);
    width: 100%;
    height: 20%;
    min-height: 100px;
    border-radius: var(--border-radius);
    background-color: rgb(211, 211, 211);
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#buttons-container {
    background-color: rgb(223, 247, 241);
    color: rgb(255, 25, 0);


    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    border: var(--border-width) solid var(--light-grey);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button {
    width: 25%;
    height: 20%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border-width) solid var(--light-grey);
    background-color: white;
    /* background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% ); */
    /* font-size: 1.8rem; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    cursor: pointer;
    /* transition-duration: 1s; */
    border: 0.3px solid black;

}

.button:hover {
    background-color: rgb(170, 207, 221);
    font-size: 2.1rem;
}

#button-zero {
    width: 50%;
}

#button-zero {
    width: 50%;
}